html {
    background-color: #006D47;
}
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* メインコンテンツ */
#main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.top {
    margin-top: 101px;
    width: 91%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.editbtn i {
    font-size: 20px;
}
.editbtn {
    font-size: 16px;
    height: 34px;
    width: calc(100% - 20px);
    border-radius: 15px;
    background-color: #FFFAEF;
    padding: 0 10px;
    margin: 20px 0;
    font-weight: bold;
    color: #006D47;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
}
.top a {
    text-decoration: none;
}
.info-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 161px;
}
.info-header img {
    height: 161px;
    width: 161px;
    border-radius: 15px;
    pointer-events: none;
}
.info {
    width: calc(100% - 161px - 10px);
    margin-left: 10px;
    height: 161px;
}
.info-top {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    color: #FFFAEF;
}
.student_id {
    font-size: 15px;
    margin: 0 0 1px 0;
}
.username {
    font-size: 26px;
    margin: 0 0 0 2px;
}
.info-bottom {
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.info-bottom-item {
    width: 100%;
    height: 34px;
    margin-top: 5px;
    border-bottom: 1px solid #FFFAEF;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: #FFFAEF;
}
.info-bottom-item-caption {
    font-size: 7px;
    height: 7px;
    width: 100%;
    margin: 0 0 2px 0;
}
.info-bottom-item-value {
    font-size: 12px;
    height: 12px;
    width: 100%;
    margin: 0 0 5px 0;
}
.spacer {
    width: 91%;
    border: 1px dashed #FFFAEF;
    margin: 20px 0;
}
.liststop {
    width: 91%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}
.liststop-title {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    pointer-events: none;
}
.liststop-approve-container {
    width: 100%;
    height: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.liststop-approve {
    width: 85px;
    margin: 0 16px 0 0;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.liststop-approve p{
    height: 14px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFAEF;
    font-size: 13px;
}
.lists {
    width: 91%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listsitem {
    height: 50px;
    width: calc(100% - 16px - 13px);
    padding: 5px 16px 5px 13px;
    background-color: #FFFAEF;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.listsitem-image {
    height: 40px;
    width: 40px;
    border-radius: 15px;
    pointer-events: none;
}
.listsitem-info {
    height: 40px;
    width: calc(100% - 40px - 16px - 13px - 85px); 
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #006D47;
}
.listsitem-info p {
    font-size: 11px;
    color: #006D47;
    margin: 0;
}
.listsitem-approve {
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listsitem-approve-item {
    height: 40px;
    width: 40px;
    border-radius: 15px;
    pointer-events: none;
}